/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav, main, footer {
    margin: 20px;
}

/* Estilos para diferentes tamaños de pantalla */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
        background-color: #333;
    }
    .multi-column{
        display: flex;
        flex-direction: column;
    }

    header {
        text-align: center;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
}

/* Estilos para diferentes tamaños de pantalla */
@media only screen and (min-width: 1025px) {
    .multi-column {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

header {
    background-color: #5b53c3;
    color: #fff;
    padding: 10px;
}

nav, main, footer {
    background-color: #d3b1b1;
    padding: 10px;
    margin-top: 10px;
}

footer {
    text-align: center;
}

/* Otros estilos generales */
h1, h2 {
    color: #333;
}

.multi-column p{
    background-color: #f8eeee;
    padding: 30px;
    border: 8px;
}
